<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link href="{% static "homepage/css/style.css" %}" rel="stylesheet"/>
</head>
<body>
<div class="container">

    <form id="signup" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">

            <span class="text-danger small">{{ field.errors }}</span>

        </div>

        <label class="control-label col-sm-2">{{ field.label_tag }}</label>

        <div class="col-sm-10">
        {{ field }}
        </div>
    </div>

{% endfor %}
<div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Update!</button>    
            </div>
        </div>


    </form>

</div>
​
</body>
</html>