<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Kuizk</title>
    <meta charset="utf-8">
     <link href="{% static "homepage/css/bootstrap.min.css" %}" rel="stylesheet">
     <link href="{% static "homepage/css/customStyle.css" %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
   <!-------------------------NAVBAR-----------------------
   <a href="mypage.html" style="float: left"><img src="img/newlogo.jpg" class="image-class">  </a>
  -------------------------------------------------------->

   <div>

    <h1>New comment</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Post Comment!</button>
    </form>


   </div>

   </body>


   </html>
