<!DOCTYPE html>
<html>
<head>
{% load static %}
  <meta charset="UTF-8">
  <title>Login</title>
  
  
  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>

    <link rel="stylesheet" href="{% static "homepage/css/login/css/style.css" %}">

  
</head>

<body>
<div class="container">    
        <div id="loginbox" style="margin-top:50px;"   class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-primary"  >
                    <div class="panel-heading">
                        <div class="panel-title" style="color: black">Sign In</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="" style="color: black">Forgot password?</a></div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form method="post" id="loginform" class="form-horizontal" role="form">
                        {% csrf_token %}
                        {{ form.as_p }}
                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <button class="btn btn-primary" type="submit">Login</button>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Don't have an account? 
                                        <a href="{% url 'circle:register' %}">
                                            Sign Up Here
                                        </a>
                                        </div>
                                    </div>
                                </div>    
                            </form>     



                        </div>                     
                    </div>  
        </div>
    </div>
    
  
  
</body>
</html>
